<!-- Copyright 2022 VMware, Inc. -->
<!-- SPDX-License-Identifier: MIT -->

<clr-datagrid class="issue-datagrid">
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="1" [(clrDgPage)]='currentPage'></clr-dg-pagination>
    </clr-dg-footer>
    <clr-dg-row *clrDgItems="let element of defectTypeElements"
      [clrDgItem]="element">
      <clr-dg-cell>
        <div class="sevirity">
          <div class="sevirity-value">
            <span class="element-title">WCAG_Conf_Level: </span>
            <span>{{element.sevirity}}</span>
          </div>
          <clr-dropdown class="sevirity-dropdown" hidden>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="ellipsis-horizontal"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Copy Issue Details</a>
                <a href="..." clrDropdownItem>Mark as False Issue</a>
                <a href="..." clrDropdownItem>Mark for Export</a>
                <a href="..." clrDropdownItem>Add Note</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        </div>
        <div class="description">
          <span class="element-title">Description: </span>
          <span>{{element.description}}</span>
        </div>
        <div class="source-code">
          <span class="element-title">Source Code: </span>
          <div (click)='codeMapping()'>{{element.code}}
          </div>
        </div>

        <div>
          <span class="element-title">How to fix it: </span>
          <span>{{element.action}}</span>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>