::ng-deep .issue-datagrid{
    height: auto;
}
::ng-deep .issue-datagrid .datagrid{
    border: none;
    margin-top: 0;
}
::ng-deep .issue-datagrid .datagrid-footer{
    background: none;
    border: none;
}
::ng-deep .issue-datagrid .datagrid-header .datagrid-row{
    border: none;
}
.sevirity{
    overflow: hidden;
    margin-bottom: .6rem;
}
.tagged-iframe{
    border: 0;
}
.sevirity-value{
    float: left;
}
.sevirity-dropdown{
    float: right;
}
.element-title{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.notDisplayElements{
    display: inline-block;
}
.notDisplayElements .info-circle{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #0072a3;
    border: 1px solid #0072a3;
    cursor: pointer;
}
::ng-deep .notDisplayEleNumContent .signpost-content-body{
    height: auto!important;
    max-height: 490px!important;
}
.signpost-content{
    width: 440px;
    max-width: 24rem!important;
}
.notDisplayEleNumContent h5{
    color: #000;
    margin-bottom: 1rem;
    margin-top: 0;
}
.issue-content{
    padding: 0 10px;
}
.description{
    margin-bottom: .6rem;
}
.source-code{
    margin-bottom: .6rem;
}
.element-code{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
}
::ng-deep .datagrid .datagrid-table .datagrid-placeholder-container{
    border-top-color: #f5f0f0;
}
::ng-deep .datagrid .datagrid-cell{
    line-height: 1.2rem;
}
.contrast{
    overflow: hidden;
}
.contrast-btn{
    color: #0079B8;
    border: none;
    text-transform: uppercase;
    background: none;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2rem;
    float: right;
}
.contrast-btn:hover{
    color: #034b71;
}