<!-- Copyright 2022 VMware, Inc. -->
<!-- SPDX-License-Identifier: MIT -->


<div *ngIf="element">
  <button class="btn btn-sm btn-link pagination-first" aria-label="Go To Fist" id="myFirst" [disabled]="currentPage==1"
    (click)="gotoPage(1)">
    <cds-icon shape="step-forward-2" direction="Down"></cds-icon>
  </button>
  <button class="btn btn-sm btn-link pagination-previous" aria-label="Go To Previous" id="myPrevious" [disabled]="currentPage==1"
    (click)="gotoPage(currentPage-1)">
    <cds-icon shape="angle" direction="Left"></cds-icon>
  </button>

  <span class="element-title"> {{issueOnTitle}} </span>

  <button class="btn btn-sm btn-link pagination-next" aria-label="Go To Next" id="myNext"
    [disabled]="currentPage==defectTypeElements.length" (click)="gotoPage(currentPage+1)">
    <cds-icon shape="angle" direction="Right"></cds-icon>
  </button>
  <button class="btn btn-sm btn-link pagination-last" aria-label="Go To Last" id="myLast"
    [disabled]="currentPage==defectTypeElements.length" (click)="gotoPage(defectTypeElements.length)">
    <cds-icon shape="step-forward-2" direction="Up"></cds-icon>
  </button>
  <!-- <div class="signpost-triggers-wrapper notDisplayElements" *ngIf="notDisplayElements != 0">
    <div class="signpost-trigger-demo">
        <div class="signpost-item">
          <div class="trigger-item">
            <clr-signpost>
                <div class="info-circle" 
                        clrSignpostTrigger>
                        {{notDisplayElements}}
                </div>
                <clr-signpost-content [clrPosition]="'right-middle'" *clrIfOpen class="notDisplayEleNumContent">
                  <h5 *ngIf="notDisplayElements - defectTypeXpath.length > 0">*{{notDisplayElements - defectTypeXpath.length}} elements are duplicated.</h5>
                  <h5 *ngIf="defectTypeXpath.length > 0">*{{defectTypeXpath.length}} elements are not displayed:</h5>
                  <div *ngFor="let xpath of defectTypeXpath; let i = index">
                    {{i + 1 + '、 ' + xpath}}
                  </div>
                </clr-signpost-content>
            </clr-signpost>
          </div>
        </div>
    </div>
  </div> -->
</div>

<div *ngIf="element" class="issue-content">
  <div class="sevirity">
    <div class="sevirity-value">
      <span class="element-title">WCAG Conformance Level: </span>
      <span>{{element.sevirity}}</span>
    </div>
    <clr-dropdown class="sevirity-dropdown" hidden>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
        <clr-icon shape="ellipsis-horizontal"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Copy Issue Details</a>
        <a href="..." clrDropdownItem>Mark as False Issue</a>
        <a href="..." clrDropdownItem>Mark for Export</a>
        <a href="..." clrDropdownItem>Add Note</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="description">
    <span class="element-title">Description: </span>
    <span>{{element.description}}</span>
  </div>
  <div class="source-code" *ngIf="element.code">
    <span class="element-title">Source Code: </span>
    <div (click)='codeMapping()'>{{element.code}}
    </div>
  </div>
  <div class="source-code" *ngIf="element.xpath">
    <span class="element-title">Xpath: </span>
    <div (click)='codeMapping()'>{{element.xpath}}
    </div>
  </div>

  <div>
    <span class="element-title">How to fix it: </span>
    <span>{{element.action}}</span>
  </div>
</div>

<div *ngIf="element">
  <button class="btn btn-sm btn-link pagination-first" aria-label="Go To Fist" id="myFirst" [disabled]="currentPage==1"
    (click)="gotoPage(1)">
    <cds-icon shape="step-forward-2" direction="Down"></cds-icon>
  </button>
  <button class="btn btn-sm btn-link pagination-previous" aria-label="Go To Previous" id="myPrevious" [disabled]="currentPage==1"
    (click)="gotoPage(currentPage-1)">
    <cds-icon shape="angle" direction="Left"></cds-icon>
  </button>

  <span class="element-title"> {{issueOnTitle}} </span>

  <button class="btn btn-sm btn-link pagination-next" aria-label="Go To Next" id="myNext"
    [disabled]="currentPage==defectTypeElements.length" (click)="gotoPage(currentPage+1)">
    <cds-icon shape="angle" direction="Right"></cds-icon>
  </button>
  <button class="btn btn-sm btn-link pagination-last" aria-label="Go To Last" id="myLast"
    [disabled]="currentPage==defectTypeElements.length" (click)="gotoPage(defectTypeElements.length)">
    <cds-icon shape="step-forward-2" direction="Up"></cds-icon>
  </button>
</div>