frontend/node_modules/
frontend/dist/
*.pyc
frontend/src/assets/accessibility/*
frontend/.angular/*
frontend/package-lock.json
.DS_Store
frontend/src/assets/report.json
frontend/src/assets/site*
frontend/src/assets/files/*

