<!-- Copyright 2022 VMware, Inc. -->
<!-- SPDX-License-Identifier: MIT -->

<div class="modal">
    <div class="modal-dialog"
      role="dialog"
      aria-hidden="true">
      <div class="modal-content">
        <!--Dialog Header-->
        <div class="modal-header">
          <button aria-label="Close"
            class="close"
            type="button">
            <clr-icon aria-hidden="true"
              shape="close"
              (click)="onCloseDialog()"></clr-icon>
          </button>
          <h3 class="modal-title">Config </h3>
          <br>
        </div>
      </div>
    </div>
</div>
